$primary: #1890ff;
$primary-hover: #0280b3;

$text-light: #ffff;

$background-dark: #001b35;
$background-grey: #f0f3f4;
$background-dark-web: #16212b;

$border-grey: #808080;


//status
$success: #84b84c;
$error: rgb(227, 85, 85);

$youtube: rgb(237, 26, 26);
$twitter:#1da1f2;
$facebook: #3b5998;
$linkedin: #0077b5





